.dashContainer {
    display: flex;
    width: 100%;
}

.dashboardBox {
    /* border: 1px solid red; */
    width: 90%;
    height: 100vh;

}

.dashboardLeft {
    width: 10%;
    height: max-content;
    padding: 2rem 0;
    text-align: center;

}

.title {
    /* border: 1px solid red; */
    font-size: 2.2rem;
    display: flex;
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: rgb(0, 7, 61);
    gap: 1.5rem;
}

.titleLogo {
    color: rgb(165, 165, 165);
    width: 1.8rem;
}

.tabs {
    display: flex;
    gap: 3rem;
    font-size: medium;
    color: rgb(35, 39, 75);
    ;
    font-weight: 800;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
}

.tabs :hover {
    color: blue;
    text-decoration: underline;
}

.avtarGroup {
    display: flex;
    /* margin-left: 40%; */
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: .4rem;
    /* border: 1px solid red; */
}

.addAvatar {
    border: 1px dotted gray;
    padding: 1rem;
    border-radius: 1.5rem;
    margin-left: 1rem;
    background-color: rgb(231, 235, 234);
}

.logoPlus {
    color: gray;
}

.boardRow {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
    /* border: 1px solid red; */
}

.boardRow>div {
    display: flex;
    color: gray;
}

.boardRow>div>button {
    display: flex;
    background-color: rgb(231, 235, 234);
    padding: .2rem .8rem .2rem .3rem;
    justify-content: space-evenly;
    margin-left: .2rem;
}

.boardIcons {
    margin: 0 .5rem;
    margin-top: 1px;
}

.searchDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* border: 1px solid red; */
}

.searchDiv>div {
    display: flex;
    gap: .5rem;
    /* margin-left: 9rem; */
    margin-top: .5rem;
}

.searchDiv>div>button {
    padding: .5rem;
    border-radius: 7px;
    background-color: rgb(231, 235, 234);
}

.searchSubIcons {
    width: 1.3rem;
    height: 1.3rem;
    color: gray;
}

.collectionBox {
    display: flex;
    gap: 2rem;
    /* border: 1px solid red; */
}

.cardDiv {
    width: 30%;
    margin-left: 12%;
    margin-top: 2rem;
    /* border:1px solid gray; */
}

.cardBlog {
    display: flex;
    font-weight: 500;
    color: gray;
    justify-content: space-between;
}

.collection {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

}


/* small screen */
@media (min-width: 0px) and (max-width: 450px) {
    .dashboardLeft {
        width: 5%;
        height: max-content;
        padding: 1rem 0;
        text-align: center;
    }

    .dashContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        z-index: 0;
    }

    .dashboardBox {
        /* border: 1px solid red; */
        width: 85%;
        height: 100vh;
    }

    .title {
        /* border: 1px solid red; */
        font-size: 1.5rem;
        gap: .6rem;
    }


    .titleLogo {
        /* margin-top: .5rem; */
        color: rgb(165, 165, 165);
        width: 1rem;
    }

    .tabs {
        margin-left: auto;
        display: flex;
        gap: 5px;
        font-size: x-small;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .avtarGroup {
        display: flex;
        margin-left: 0;

        text-align: center;
        align-items: center;
        justify-content: center;
        margin-top: .4rem;
        /* border: 1px solid red; */
    }

    .addAvatar {
        border: 1px dotted gray;
        padding: 1rem;
        border-radius: 1.5rem;
        margin-left: .1rem;
        background-color: rgb(231, 235, 234);
    }


    .boardRow {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        gap: 1rem;
        /* border: 1px solid red; */
    }

    .btnBorder {
        display: flex;
        flex-direction: column;
        color: gray;
        gap: 1rem;
    }

    .lockBorder {
        display: flex;
        flex-direction: row;
        color: gray;
        gap: 1rem;

    }

    .boardIcons {

        margin-top: 5px;
    }


    .searchDiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        align-content: center;
    }

    .searchDiv>div {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        margin-top: .5rem;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .searchDiv>div>button {
        padding: .4rem;
        border-radius: 7px;
    }

    .searchBox {
        margin-left: 15rem;
    }

    .collectionBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        gap: 2rem;
        /* border: 1px solid red; */
    }

    .cardDiv {
        width: 90%;
        margin-left: 0%;
        margin-top: 2rem;
        /* border:1px solid gray; */
    }

    .cardBlog {
        display: flex;
        font-weight: 500;
        color: gray;
        justify-content: space-evenly;
    }

    .collection {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

    }


}

/* mid screen */
@media (min-width: 450px) and (max-width: 850px) {
    .dashboardLeft {
        width: 10%;
        height: max-content;
        padding: 1rem 0;
        text-align: center;
    }

    .dashContainer {
        display: flex;
        flex-direction: row;
        width: 100%;
        z-index: 0;
    }

    .dashboardBox {
        /* border: 1px solid red; */
        width: 80%;
        height: 100vh;
    }

    .title {
        font-size: 2.1rem;
        gap: .6rem;
    }


    .titleLogo {
        width: 1.5rem;
    }

    .tabs {
        margin-left: auto;
        display: flex;
        gap: 1rem;
        font-size: medium;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .avtarGroup {
        display: flex;
        margin-left: 0;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-top: .4rem;
        /* border: 1px solid red; */
    }

    .addAvatar {
        border: 1px dotted gray;
        padding: 1rem;
        border-radius: 1.5rem;
        margin-left: 1rem;
        background-color: rgb(231, 235, 234);
    }


    .boardRow {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        gap: 1rem;
        /* border: 1px solid red; */
    }

    .btnBorder {
        display: flex;
        flex-direction: row;
        color: gray;
        gap: 1rem;
    }

    .lockBorder {
        display: flex;
        flex-direction: row;
        color: gray;
        gap: 1.5rem;

    }

    .boardIcons {

        margin-top: 5px;
    }


    .searchDiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        align-content: center;
    }

    .searchDiv>div {
        display: flex;
        gap: 1.5rem;
        margin-top: .5rem;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .searchDiv>div>button {
        padding: .4rem;
        border-radius: 7px;
    }

    .searchBox {
        margin-left: 1rem;
    }

    .collectionBox {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        align-items: center;
        gap: 2rem;
        /* border: 1px solid red; */
    }

    .cardDiv {
        width: 80%;
        margin-left: 0%;
        margin-top: 2rem;
        /* border:1px solid gray; */
    }

    .cardBlog {
        display: flex;
        font-weight: 500;
        color: gray;
        justify-content: space-between;
    }

    .collection {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

    }


}